* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/background.jpg);
  background-position: center center;
  background-size: cover;
}
.login-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.register {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation {
  color: white;
  margin: 120px;
}
.presentation > .bvnd {
 font-size: 96px;
}
.presentation > .hora {
 font-size: 128px;
}
.presentation > .fecha {
 font-size: 32px;
}

.login {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
}

form {
  width: 100%;
  height: auto;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 50px;
  
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;  
}

h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 16px;
}

.nombres {
  width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: space-betwueen;
    gap: 18px;
}

.label-input {
  width: 100%;
  display: flex;
   flex-direction: column;
}

label {
  padding-left: 20px;
  font-size: 12px;
  color: white;
}

input, select {
  padding: 0 10px 0 42px;
  height: 38px;
  font-size: 21px;
  border: none;
  border-radius: 16px;
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.icon {
  position: absolute;
  padding: 26px 0 0 17px;
  display: flex;
    justify-content: center;
}

button {
  margin-top: 20px;
  width: 180px;
  height: 45px;
  border: none;
  font-size: 24px;
  border-radius: 30px;
  background-color: #d9d9d9;
  cursor: pointer;
}
button:hover {
  background-color: #555555;
}

a:link {
  color: white;
}
a:visited {
  color:orange
}
a:hover {
  color: blue;
}