<!DOCTYPE html>
<html lang="es-PE">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!--CDN Font Awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div id="bg">
    <div class="oscurecer"> </div>
    <div class="login-screen">
      <div class="presentation">
        <p id="bvnd">¡Bienvenido!</p>
        <p id="hora"></p>
        <p id="fecha"></p>
      </div>
      <div class="login">
        <form action="/login" method="post">
          <h1>Iniciar sesión</h1>
          <% if (typeof error !== 'undefined' && error) { %>
            <p style="color: red;"><%= error %></p>
          <% } %>

          <div class="label-input">
            <label for="id">ID de usuario:</label>
            <input type="text" id="id" name="id" placeholder="70615794" required>
            <div class="icon">
              <i class="fa-regular fa-user"></i>
            </div>
          </div>
          <div class="label-input">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" placeholder="****************" required>
            <div class="icon">
              <i class="fa-solid fa-lock"></i>
            </div>
          </div>
          <button type="submit">Entrar</button>
          <p>¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
          <div id="mensaje-error" style="color: red;"></div>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
//------------------------------ Reloj del login ------------------------------
  function obtenerHora() {
    const $hora = document.querySelector("#hora"),
      $fecha = document.querySelector("#fecha");
    let diasSemana = ["domingo", "lunes", "martes", "miércoles", "jueves", "viernes", "sabado"],
      meses = ["enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "setiembre", "octubre", "noviembre", "diciembre"];
    if ($hora) {
      var date = new Date(),
      day = date.getDate(),
      diaSemana = date.getDay(),
      hour = date.getHours(),
      minutes = date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes(),
      secs = date.getSeconds() < 10 ? '0'+date.getSeconds() : date.getSeconds(),
      mes = date.getMonth(),
      year = date.getFullYear();
      
      let HoraString = `${hour}:${minutes}:${secs}`;
      let FechaString = `${diasSemana[diaSemana]}, ${day} de ${meses[mes]} de ${year}`;
      
      $hora.innerHTML = HoraString;
      $fecha.innerHTML = FechaString;
    }
  }
  obtenerHora();
  setInterval(() => {
    obtenerHora();
  }, 1000);
</script>
</html>