* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #022237;
  font-family: 'Inter', sans-serif;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #011F2E;
}

.restaurant {
  width: 210px;
  height: 100%;
  background-color: #032D42;
}

article {
  margin-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
    flex-direction: row;
}

.sidebar {
  position: fixed;
  width: 210px;
  height: calc(100% - 60px);
  background-color: #00364A;
  border: 0.5px solid #777777;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
  outline: 0.5px solid #777777;
  border-radius: 4px;
  padding: 12px 5px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.side-a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
    gap: 16px;
    align-items: center;
}
.side-a:hover {
  background-color: #075378;
}
.side-icon {
  width: 25px;
  height: 25px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.content {
  width: 80%;
  padding: 0 32px;
  margin-left: 210px;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
}

canvas {
  width: 100%;
  height: 600px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table td, th {
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  overflow: hidden;
  padding: 8px 12px;
  word-break: normal;
  vertical-align: top
}
.table th {
  font-weight: 700;
}
.table .center {
  text-align: center;
}
.table .right {
  text-align: right;
}

.btn-delete {
  background: none;
  border: none;
  color: hsl(0, 100%, 35%);
  cursor: pointer;
  font-size: 18px;
}
.btn-delete i {
  font-weight: 100;
}

/* ####################### PEDIDOS 0 ####################### */
.new_ped > a {
  margin: 28px 0;
  color: white;
  text-decoration: none;
  display: inline-flex;
    align-items: center;
    gap: 12px;
}
a > h2 {
  margin: 0;
}

/* ####################### PEDIDOS 1 ####################### */
.mesas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.mesas-container .mesa {
  background-color: #C4C4C4;
  border-radius: 10px;
  padding: 50px;
  width: calc(33.33% - 50px);
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  box-sizing: border-box;
  color: black;
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.mesa a{
  text-decoration: none;
  color: black;
}

.mesa .subtitle {
  font-size: 20px;
  color: black;
  margin-top: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .mesas-container .mesa {
    width: calc(50% - 20px); 
  }
}
@media (max-width: 480px) {
  .mesas-container .mesa {
    width: calc(100% - 20px); 
  }
}

/* ####################### PEDIDOS 2 ####################### */
.ped_opciones {
  margin: 32px 0;
  padding: 0 40px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 24px;
}
.ped_optn, .end_optn {
  width: calc(40%);
  height: 150px;
  border: none;
  background-color: #cccccc;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.end_optn {
  background-color: #ff4242;
}
.ped_optn:hover, .end_optn:hover {
  cursor: pointer;
  transition: 0.25s ease;
  background-color: transparent;
  color: #cccccc;
  border: 1px solid #cccccc;
}
.end_optn:hover {
  color: #ff4242;
  border: 1px solid #FF4242;
}

/* >>>>>>>>MODAL WINDOW<<<<<<<< */
#modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
    justify-content: center;
    align-items: center;
}
.modal {
  color: black;
  background: #e6ecf0;
  padding: 12px 20px;
  border-radius: 12px;
  width: 450px;
  text-align: center;
}
.close {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.close > span {
  line-height: 20px;
  cursor: pointer;
  font-size: 36px;
}
.modal-h3 {
  margin: 0 0 12px 0;
}
.modal-elemnt {
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.qty {
  display: flex;
    flex-direction: row;
}
.qty-btn, .qty-val {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid;
  border-radius: 6px;
  outline: none;
}
.qty-btn {
  cursor: pointer;
  background: #d9d9d9;
  font-size: 20px;
}
.submit-btn {
  cursor: pointer;
  padding: 8px 20px;
  border: 1px solid;
  border-radius: 12px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}