* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #022237;
  font-family: 'Inter', sans-serif;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #011F2E;
}

.restaurant {
  width: 210px;
  height: 100%;
  background-color: #032D42;
}

article {
  margin-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
    flex-direction: row;
}

.sidebar {
  position: fixed;
  width: 210px;
  height: calc(100% - 60px);
  background-color: #00364A;
  border: 0.5px solid #777777;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
  outline: 0.5px solid #777777;
  border-radius: 4px;
  padding: 12px 5px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

li {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
    gap: 16px;
    align-items: center;
}
li:hover {
  background-color: #075378;
}
.icon {
  width: 25px;
  height: 25px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.content {
  padding: 0 24px;
  margin-left: 210px;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
}

canvas {
  width: 100%;
  height: 600px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table td, th {
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  overflow: hidden;
  padding: 8px 12px;
  word-break: normal;
  vertical-align: top
}
.table th {
  font-weight: 700;
}
.table .center {
  text-align: center;
}
.table .right {
  text-align: right;
}

.btn-delete {
  background: none;
  border: none;
  color: hsl(0, 100%, 35%);
  cursor: pointer;
  font-size: 18px;
}
.btn-delete i {
  font-weight: 100;
}

.new > a {
  margin: 28px 0;
  color: white;
  text-decoration: none;
  display: inline-flex;
    align-items: center;
    gap: 12px;
}
a > h2 {
  margin: 0;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.table-container .table {
  background-color: #C4C4C4;
  border-radius: 10px;
  padding: 50px;
  width: calc(33.33% - 50px);
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  box-sizing: border-box;
  color: black;
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.table .subtitle {
  font-size: 20px;
  color: black;
  margin-top: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .table-container .table {
    width: calc(50% - 20px); 
  }
}
@media (max-width: 480px) {
  .table-container .table {
    width: calc(100% - 20px); 
  }
}